@page "/Error"
@using System.Diagnostics

<PageTitle>@L["Error.Title"]</PageTitle>

<h1 class="text-danger">@L["Error.Title"]</h1>
<h2 class="text-danger">@L["Error.Heading"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@L["Error.RequestId"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@L["Error.DevMode"]</h3>
<p>
    @((MarkupString)L["Error.DevMode.Body1"].Value)
</p>
<p>
    @((MarkupString)L["Error.DevMode.Body2"].Value)
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
